<body class="news">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a class="home"><%= link_to 'Home', billboards_path %></a></li>
        <li class="us"><%= link_to 'Top 100 (US)', billboards_path %></li>
        <li class="eur"><%= link_to 'Top 100 (EUR)', billboards_path %></li>
      </ul>
    </div>
  </header>
</body>
